body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
}

/* 검색창과 검색 버튼을 포함하는 컨테이너 */
.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    border-right: none;
    outline: none;
}

/* 검색 버튼을 검색창 옆에 배치 */
.search-button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
}

/* 추천 검색어 스타일 */
#suggestions {
    border: 1px solid #ccc;
    background-color: white;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: calc(100% - 40px);
    display: none;
    z-index: 1000;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f0f0f0;
}

.autocomplete-active {
    background-color: #007bff;
    color: white;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

#content {
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.firstHeading {
    border-bottom: 2px solid #a2a9b1;
    margin-bottom: 20px;
}

#firstHeading h1 {
    font-size: 1.75em;
    margin: 0;
}

.bodyContent {
    margin-top: 20px;
}

.search-result p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}
